* {
  boxSizing: border-box;
}

h3.UpperPanel {
  opacity: 0;
  font-family: Helvetica;
  color: #531b55;
  background-color: #d39ed5;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: left;
  -webkit-user-select: none;
  font-size: 5vh; /* Chrome bug prevents resizing on window resize! */
  width: 100%;    /* Putting width 100% causes repaint on resize */
}

h3.UpperPanel.fadeIn {
  opacity: 1;
  transition: opacity 3s ease-in;
}
