* {
  boxSizing: border-box;
}

body {
  color:#5a0e6d;
  font:400 15px/22px 'Source Sans Pro';
  background:#404040;
  margin:0;
  padding:0;
  -webkit-font-smoothing:antialiased;
}
* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

.sidebar {
  position:absolute;
  width:23%;
  height:100%;
  top:0;left:0;
  overflow:hidden;
  background: lightgrey;
  border-right:1px solid rgba(0,0,0,0.25);
}
.pad2 {
  padding:20px;
}
.heading {
  background:#fff;
  font: 32px 'Source Sans Pro';
  font-weight:700;
  color: #34A6FF;
  border-bottom:1px solid #eee;
  height:60px;
  line-height:60px;
  padding:0 60px;
}
}
.showgps {
  background:#fff;
  font: 12px 'Source Sans Pro';
  font-weight:200;
  color: #555555;
  border-bottom:1px solid #eee;
  height:120px;
  line-height:10px;
  padding:0 10px;
}
.listings {
  height:100%;
  overflow:auto;
  padding-bottom:60px;
}
.listings .item {
  color: #555555;
  display:block;
  border-bottom:1px solid #eee;
  padding:10px;
  text-decoration:none;
}
.listings .item:last-child { border-bottom:none; }
.listings .item .title {
  display:block;
  color:#555555;

}
.listings .item .title small { font-size:13px; font-weight:400;}
.listings .item .title large { font-size:18px; font-weight:700; }
.listings .item.active .title { background-color:lightblue; }
.listings .item:hover { background-color:#FFC47F; }
.listings .item.active {
  background-color:lightblue;
}

  ::-webkit-scrollbar {
    width:3px;
    height:3px;
    border-left:0;
    background:rgba(0,0,0,0.1);
}
  ::-webkit-scrollbar-track {
    background:none;
}
  ::-webkit-scrollbar-thumb {
    background:lightblue;
    border-radius:0;
}

.map {
  position:absolute;
  left:23%;
  width:77%;
  top:0;bottom:0;
}

.clearfix { display:block; }
.clearfix:after {
  content:'.';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.quiet {
  color:#888;
}
.hot {
  color:#fe8800;
}
}
.tagz {
  color:#34A6FF;
}
a {
    color:#404040;
    text-decoration:none;
}
a:hover { color:#101010; }

    /* Marker tweaks */
    .leaflet-popup-close-button {
      display:none;
    }
    .leaflet-popup-content {
      font:400 15px/22px 'Source Sans Pro';
      padding:0;
      width:200px;
    }
    .leaflet-popup-content-wrapper {
      padding:0;
    }
    .leaflet-popup-content h3 {
      background:lightblue;
      color:#fe8800;
      margin:0;
      display:block;
      padding:10px;
      border-radius:3px 3px 0 0;
      font-weight:700;
      margin-top:-15px;
    }
    .leaflet-popup-content div {
      padding:10px;
    }
    .leaflet-container .leaflet-marker-icon { cursor:pointer; }





    /* Compatible with Leaflet 0.7 */
    .leaflet-touch .leaflet-bar-part-single {
      -webkit-border-radius: 7px 7px 7px 7px;
      border-radius: 7px 7px 7px 7px;
      border-bottom: none;
    }
    .leaflet-touch .leaflet-control-locate {
      box-shadow: none;
      border: 2px solid rgba(0, 0, 0, 0.2);
      background-clip: padding-box;
    }

    .leaflet-control-locate a {
      font-size: 1.4em;
      margin-left: 1px;
      color: #EF002A;
    }
    .leaflet-control-locate.active a {
      color: #2074B6;
    }
    .leaflet-control-locate.active.following a {
      color: #FC8428;
    }

    /* Mapbox specific adjustments */
    .leaflet-control-locate a {
      padding: 3px 0 0 8px;
    }
    .leaflet-control-locate.requesting a {
      padding: 3px 0 0 4px;
    }

.markerat {
  position: center;

}


    pre.ui-coordinates {
      position:absolute;
      bottom:10px;
      left:23.5%;
      padding:5px 10px;
      background:rgba(0,0,0,0.3);
      color:#fff;
      font-size:9px;
      line-height:12px;
      border-radius:3px;
      }
